Repository world-wide-weights/wwweights, pull requests merged in 2023-02, with the labels that each got.

#277 Add adsense to head
  frontend/src/pages/_app.tsx
Labels: frontend

#292 Add missing space
  backend/command/src/items/cron/items.cron.ts
Labels: bug, backend

#291 Feature/290 add GA4
  frontend/src/pages/_app.tsx
Labels: frontend

#233 Feature/230 no rebuild restart
  backend/command/sample.env
  backend/command/src/eventstore/eventstore.ts
  backend/command/test/eventstore.e2e-spec.ts
  backend/command/test/mocks/eventstore-connection.ts
  db/setup/init.sql
  docker-compose.yaml
  sample.env
Labels: backend

#289 Feature/271 seo
  frontend/next.config.js
  frontend/public/img/og_default.jpg
  frontend/public/img/twitter_default.jpg
  frontend/src/components/Errors/BaseError.tsx
  frontend/src/components/Layout/AccountLayout.tsx
  frontend/src/components/Layout/PageLayout.tsx
  frontend/src/components/Seo/Seo.tsx
  frontend/src/pages/account/login.tsx
  frontend/src/pages/account/profile.tsx
  frontend/src/pages/account/register.tsx
  frontend/src/pages/contribute/create.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/misc/contact.tsx
  frontend/src/pages/tags/index.tsx
  frontend/src/pages/weights/[slug].tsx
  frontend/src/pages/weights/index.tsx
  frontend/src/services/seo/keywords.ts
  frontend/src/services/seo/keywords.unit.ts
  frontend/src/services/seo/pageString.ts
  frontend/src/services/seo/pageString.unit.ts
  frontend/src/services/seo/structuredData/website.ts
  frontend/src/services/utils/capitalizeString.ts
Labels: frontend

#288 feat(swagger): add swagger
  backend/auth/package-lock.json
  backend/auth/package.json
  backend/auth/sample.env
  backend/auth/src/auth/auth.REST
  backend/auth/src/auth/auth.controller.ts
  backend/auth/src/auth/dtos/login.dto.ts
  backend/auth/src/auth/dtos/refresh-jwt-payload.dto.ts
  backend/auth/src/auth/dtos/signup.dto.ts
  backend/auth/src/auth/responses/jwks.response.ts
  backend/auth/src/auth/responses/token.response.ts
  backend/auth/src/db/entities/users.entity.ts
  backend/auth/src/main.ts
  backend/auth/src/profile/profil.REST
  backend/auth/src/profile/profile.controller.ts
Labels: enhancement, backend

#316 Feature/315 add twitter to contact
  frontend/src/assets/img/logos/twitter-logo-black.svg
  frontend/src/assets/img/logos/twitter-logo-blue.svg
  frontend/src/assets/img/logos/twitter-logo-white.svg
  frontend/src/pages/misc/contact.tsx
Labels: enhancement, frontend

#246 Feature/245 swagger turned off in production
  backend/command/package-lock.json
  backend/command/package.json
  backend/command/src/main.ts
  backend/image/src/main.ts
  backend/query/package-lock.json
  backend/query/package.json
  backend/query/src/main.ts
  docker-compose.yaml
  sample.env
Labels: backend

#302 Feature/229 connect unitconverter to frontend
  frontend/src/components/Item/ItemPreviewGrid.tsx
  frontend/src/components/Item/ItemPreviewList.tsx
  frontend/src/pages/weights/[slug].tsx
  frontend/src/pages/weights/index.tsx
  frontend/src/services/unit/unitRenderer.ts
  frontend/src/services/unit/unitRenderer.unit.ts
Labels: frontend

#298 Feature/275 add hide password input field
  frontend/cypress/e2e/authentication/register.cy.ts
  frontend/src/pages/account/register.tsx
Labels: frontend

#317 Feature/219 query for tagsrelated
  backend/command/src/items/commands/insert-item.handler.ts
  backend/command/src/items/events/item-inserted.handler.ts
  backend/command/src/items/interfaces/insert-item.dto.ts
  backend/command/src/items/items.controller.ts
  backend/command/src/models/item.model.ts
  backend/query/src/items/interfaces/item-statistics.ts
  backend/query/src/items/interfaces/query-item-list.dto.ts
  backend/query/src/items/interfaces/query-item-related.dto.ts
  backend/query/src/items/interfaces/query-item-statistics.dto.ts
  backend/query/src/items/items.controller.ts
  backend/query/src/items/models/item.model.ts
  backend/query/src/items/queries/item-list.handler.ts
  backend/query/src/items/queries/item-statistics.handler.ts
  backend/query/src/items/queries/related-items.handler.ts
  backend/query/src/shared/data-with-count.ts
  backend/query/src/shared/get-filter.ts
  backend/query/src/shared/get-sort.ts
  backend/query/src/shared/paginated-result.ts
  backend/query/src/tags/interfaces/query-tag-list.dto.ts
  backend/query/src/tags/interfaces/query-tag-related.dto.ts
  backend/query/src/tags/models/tag-with-relevance.ts
  backend/query/src/tags/models/tag.model.ts
  backend/query/src/tags/queries/index.ts
  backend/query/src/tags/queries/related-tags.handler.ts
  backend/query/src/tags/queries/related-tags.query.ts
  backend/query/src/tags/queries/tag-list.handler.ts
  backend/query/src/tags/tags.controller.ts
  backend/query/src/tags/tags.module.ts
  backend/query/test/helpers/timeout.ts
  backend/query/test/items.e2e-spec.ts
  backend/query/test/mocks/items.ts
  backend/query/test/tags.e2e-spec.ts
Labels: backend

#325 Feature/215 item preview list tests
  frontend/src/components/Item/ItemPreviewList.tsx
  frontend/src/components/Item/itemPreviewList.cy.tsx
Labels: frontend

#328 Bug/270 navbar flickering with loginregisterprofilelogout
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/pages/index.tsx
Labels: frontend, improvement

#318 hotfix(docker compose): resolve docker compose images with arm
  .github/workflows/auth-backend-ci.yml
  .github/workflows/command-backend-ci.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/image-backend-ci.yml
  .github/workflows/query-backend-ci.yml
  README.md
  docker-compose.yaml
  frontend/.dockerignore
  frontend/Dockerfile
  sample.env
Labels: devops

#293 Feature/79 define maximum sizes for data fields
  backend/command/src/items/interfaces/insert-item.dto.ts
  backend/command/src/items/items.controller.ts
  backend/command/src/shared/validators/is-bigger-than.spec.ts
  backend/command/src/shared/validators/is-bigger-than.ts
  backend/command/test/eventstore.e2e-spec.ts
Labels: enhancement, backend

#332 Add tests and restructure shared files
  backend/command/src/items/commands/insert-item.handler.ts
  backend/command/src/shared/functions/get-slug.spec.ts
  backend/command/src/shared/functions/get-slug.ts
  backend/command/src/shared/functions/get-stringified.spec.ts
  backend/command/src/shared/functions/get-stringified.ts
  backend/command/src/shared/get-filter.ts
  backend/command/src/shared/get-slug.ts
  backend/command/src/shared/get-sort.ts
  backend/query/src/items/interfaces/query-item-list.dto.ts
  backend/query/src/items/interfaces/query-item-related.dto.ts
  backend/query/src/items/interfaces/query-item-statistics.dto.ts
  backend/query/src/items/items.controller.ts
  backend/query/src/items/queries/item-list.handler.ts
  backend/query/src/items/queries/item-statistics.handler.ts
  backend/query/src/items/queries/related-items.handler.ts
  backend/query/src/shared/functions/get-filter.spec.ts
  backend/query/src/shared/functions/get-filter.ts
  backend/query/src/shared/functions/get-sort.spec.ts
  backend/query/src/shared/functions/get-sort.ts
  backend/query/src/shared/functions/get-stringified.spec.ts
  backend/query/src/shared/functions/get-stringified.ts
  backend/query/src/shared/get-slug.ts
  backend/query/src/shared/interfaces/data-with-count.ts
  backend/query/src/shared/interfaces/page.ts
  backend/query/src/shared/interfaces/paginated-result.ts
  backend/query/src/shared/interfaces/queryTagsAndPage.ts
  backend/query/src/tags/interfaces/query-tag-list.dto.ts
  backend/query/src/tags/interfaces/query-tag-related.dto.ts
  backend/query/src/tags/queries/related-tags.handler.ts
  backend/query/src/tags/queries/tag-list.handler.ts
  backend/query/src/tags/tags.controller.ts
Labels: backend

#330 Bug/329 ranges are not getting displayed correct when heaviest is a range
  frontend/src/services/utils/weight.ts
  frontend/src/services/utils/weight.unit.ts
Labels: bug, frontend

#337 Feature/209 keep link between user and uploaded images to ensure copyright
  backend/auth/sample.env
  backend/auth/src/account/account.controller.ts
  backend/auth/src/account/account.module.ts
  backend/auth/src/account/account.service.ts
  backend/auth/src/account/dtos/add-image.dto.ts
  backend/auth/src/app.module.ts
  backend/auth/src/auth/auth.service.ts
  backend/auth/src/auth/strategies/refresh-token.strategy.ts
  backend/auth/src/db/db.module.ts
  backend/auth/src/db/entities/image-user-lookup.entity.ts
  backend/auth/src/db/services/image-user-lookup.service.ts
  backend/auth/src/db/services/user.service.ts
  backend/auth/src/main.ts
  backend/auth/src/profile/profile.controller.ts
  backend/auth/src/profile/profile.service.ts
  backend/auth/src/shared/guards/api-key.guard.ts
  backend/auth/test/account.e2e-spec.ts
  backend/auth/test/auth.e2e-spec.ts
  backend/auth/test/helpers/db.helper.ts
  backend/auth/test/helpers/typeOrmSetup.ts
  backend/auth/test/profiles.e2e-spec.ts
  backend/image/package-lock.json
  backend/image/package.json
  backend/image/sample.env
  backend/image/src/app.module.ts
  backend/image/src/internal-communication/internal-communication.module.ts
  backend/image/src/internal-communication/internal-communication.service.ts
  backend/image/src/upload/upload.controller.ts
  backend/image/src/upload/upload.module.ts
  backend/image/src/upload/upload.service.spec.ts
  backend/image/src/upload/upload.service.ts
  backend/image/test/mocks/http-service.mock.ts
  backend/image/test/mocks/logger.mock.ts
  backend/image/test/serve.e2e-spec.ts
  backend/image/test/upload.e2e-spec.ts
  codecov.yml
  db/migrations/1674411468-image-user-table/DOWN.sql
  db/migrations/1674411468-image-user-table/UP.sql
  db/migrations/1674411468-image-user-table/changelog.md
  db/sample.env
  db/setup/init.sql
  docker-compose.yaml
  sample.env
  scripts/README.md
  scripts/build-all-docker.sh
Labels: backend

#349 Swagger for image backend
  README.md
  backend/auth/src/auth/auth.service.ts
  backend/auth/test/helpers/db.helper.ts
  backend/image/sample.env
  backend/image/src/internal-communication/internal-communication.service.ts
  backend/image/src/main.ts
  backend/image/src/shared/helpers/file-path.helper.spec.ts
  backend/image/src/shared/helpers/file-path.helpers.ts
  backend/image/src/upload/responses/upload-image-conflict.error.ts
  backend/image/src/upload/responses/upload-image.response.ts
  backend/image/src/upload/upload.controller.ts
  backend/image/src/upload/upload.service.spec.ts
  backend/image/src/upload/upload.service.ts
  backend/image/test/helpers/file.helper.ts
  backend/image/test/upload.e2e-spec.ts
Labels: backend

#351 Add item suggestion event flow
  backend/command/src/eventstore/enums/allowedEntities.enum.ts
  backend/command/src/eventstore/eventstore.ts
  backend/command/src/items/commands/index.ts
  backend/command/src/items/commands/suggest-item-edit.command.ts
  backend/command/src/items/commands/suggest-item-edit.handler.ts
  backend/command/src/items/cron/items.cron.ts
  backend/command/src/items/events/index.ts
  backend/command/src/items/events/item-edit-suggested.event.ts
  backend/command/src/items/events/item-edit-suggested.handler.ts
  backend/command/src/items/interfaces/suggest-item-edit.dto.ts
  backend/command/src/items/interfaces/suggest-item-update.dto.ts
  backend/command/src/items/items.controller.ts
  backend/command/src/items/items.module.ts
  backend/command/src/items/sagas/index.ts
  backend/command/src/items/sagas/item-edit-suggested.saga.ts
  backend/command/src/models/edit-suggestion.model.ts
  backend/command/src/models/item.model.ts
  backend/command/src/models/profile.model.ts
  backend/command/src/models/suggestion.model.ts
  backend/command/src/shared/enums/suggestion-status.enum.ts
  backend/command/test/helpers/retries.ts
  backend/command/test/items.e2e-spec.ts
  backend/command/test/mocks/eventstore.ts
  codecov.yml
Labels: backend

#364 Update frontend-ci.yml
  .github/workflows/frontend-ci.yml
Labels: frontend

#363 Feature/361 register should return tokens
  backend/auth/src/auth/auth.controller.ts
  backend/auth/src/auth/auth.service.ts
  backend/auth/src/db/entities/users.entity.ts
  backend/auth/src/db/services/user.service.ts
  backend/auth/src/profile/profile.controller.ts
  backend/auth/test/auth.e2e-spec.ts
  backend/auth/test/helpers/sample-data.helper.ts
  backend/auth/test/profiles.e2e-spec.ts
  db/migrations/1676217913-add-created-at/DOWN.sql
  db/migrations/1676217913-add-created-at/UP.sql
  db/migrations/1676217913-add-created-at/changelog.md
  db/setup/init.sql
Labels: backend

#355 Demo data/ Seeder / data insert script
  .gitignore
  backend/command/src/items/interfaces/bulk-insert-item.dto.ts
  backend/command/src/items/items.controller.ts
  backend/command/src/items/items.module.ts
  backend/command/src/items/services/item.service.ts
  backend/command/src/shared/guards/env.guard.spec.ts
  backend/command/src/shared/guards/env.guard.ts
  backend/command/test/helpers/retries.ts
  backend/command/test/items.e2e-spec.ts
  backend/command/test/mocks/env-guard.mock.ts
  backend/command/test/mocks/items.ts
  backend/docker-images/test.jpg
  backend/docker-images/test.png
  docker-compose.yaml
  scripts/README.md
  scripts/bulk-inserter.js
  scripts/data/sample.json
Labels: backend

#374 Delete itemsByTags
  backend/command/src/items/cron/items.cron.ts
  backend/command/src/items/events/item-edit-suggested.handler.ts
  backend/command/src/items/events/item-inserted.handler.ts
  backend/command/src/items/items.module.ts
  backend/command/src/items/services/item.service.ts
  backend/command/src/models/items-by-tag.model.ts
  backend/command/test/eventstore.e2e-spec.ts
  backend/command/test/helpers/retries.ts
  backend/command/test/helpers/timeout.ts
  backend/command/test/items.e2e-spec.ts
  backend/query/src/items/queries/item-list.handler.ts
  backend/query/src/items/queries/item-statistics.handler.ts
  backend/query/test/helpers/timeout.ts
  backend/query/test/items.e2e-spec.ts
  backend/query/test/mocks/itemsbytags.ts
  backend/query/test/tags.e2e-spec.ts
Labels: backend

#383 Fix issue with SEO
  frontend/src/components/Seo/Seo.tsx
Labels: bug, frontend

#387 Bug/307 progress bars is broken at large numbers
  frontend/src/components/Item/itemPreviewList.cy.tsx
  frontend/src/services/utils/weight.ts
  frontend/src/services/utils/weight.unit.ts
Labels: bug, frontend

#388 Update Dockerfile
  frontend/.dockerignore
  frontend/Dockerfile
Labels: devops

#370 devops(backup): add db backup script
  scripts/README.md
  scripts/db-backup.sh
Labels: devops

#401 Bug/188 single weight page image warning
  frontend/src/components/Auth/Auth.tsx
  frontend/src/components/Footer/Footer.tsx
  frontend/src/pages/account/login.tsx
  frontend/src/pages/account/register.tsx
  frontend/src/pages/weights/[slug].tsx
Labels: frontend

#344 Feature/175 textinput should manage tags look like tags
  .gitignore
  frontend/cypress/e2e/contribute/create.cy.ts
  frontend/cypress/e2e/tags/list.cy.ts
  frontend/src/components/Chip/Chip.tsx
  frontend/src/components/Form/Label.tsx
  frontend/src/components/Form/TextInput/ChipTextInput.tsx
  frontend/src/components/Form/TextInput/chipTextInput.cy.tsx
  frontend/src/pages/contribute/create.tsx
Labels: enhancement, frontend

#386 Feature/119 loading state
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Button/Button.tsx
  frontend/src/components/Tabs/Tabs.tsx
  frontend/src/pages/_app.tsx
Labels: frontend

#384 fix: proper statistics considering additionalValue
  backend/query/src/items/queries/item-statistics.handler.ts
  backend/query/test/items.e2e-spec.ts
  backend/query/test/mocks/items.ts
Labels: bug, backend

#339 Feature/206 add codecoverage export to frontend
  .github/workflows/frontend-ci.yml
  README.md
  frontend/.babelrc.example
  frontend/.dockerignore
  frontend/.gitignore
  frontend/README.md
  frontend/cypress.config.ts
  frontend/cypress/support/component.ts
  frontend/cypress/support/e2e.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/public/fonts/Metropolis-Bold.woff2
  frontend/public/fonts/Metropolis-Medium.woff2
  frontend/public/fonts/Metropolis-Regular.woff2
  frontend/src/pages/_app.tsx
  frontend/src/pages/account/profile.tsx
  frontend/src/services/pagination/pagination.ts
  frontend/src/styles/global.css
  frontend/src/types/auth.d.ts
Labels: frontend

#405 Update codecov.yml
  codecov.yml
Labels: backend

#391 Feature/389 add itempreviewgrid + itemListContribute tests
  frontend/cypress/e2e/profile/pagination.cy.ts
  frontend/src/components/Item/ItemListContribute.tsx
  frontend/src/components/Item/ItemPreviewGrid.tsx
  frontend/src/components/Item/ItemPreviewList.tsx
  frontend/src/components/Item/itemListContribute.cy.tsx
  frontend/src/components/Item/itemPreviewGrid.cy.tsx
  frontend/src/components/Item/itemPreviewList.cy.tsx
Labels: frontend

#414 Bug/402 fix source no url
  frontend/src/components/Item/ItemSource.tsx
  frontend/src/pages/weights/[slug].tsx
  frontend/src/services/utils/generateSourceString.ts
  frontend/src/services/utils/generateSourceString.unit.ts
Labels: bug, frontend

#416 Feature/73 accessability a11y
  frontend/src/components/Footer/Footer.tsx
  frontend/src/pages/_document.tsx
Labels: frontend

#417 Fix bug with wrong redirect url
  frontend/src/components/Auth/Auth.tsx
Labels: bug, frontend

#420 Feature/131 error boundaries and error handling
  frontend/cypress.d.ts
  frontend/cypress/e2e/account/login.cy.ts
  frontend/cypress/e2e/account/register.cy.ts
  frontend/cypress/e2e/account/routes.cy.ts
  frontend/cypress/e2e/contribute/create.cy.ts
  frontend/cypress/e2e/profile/error.cy.ts
  frontend/cypress/e2e/tags/list.cy.ts
  frontend/cypress/support/commands.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Auth/Auth.tsx
  frontend/src/components/EmptyState/ContributionsEmptyState.tsx
  frontend/src/components/EmptyState/TagsEmptyState.tsx
  frontend/src/components/Footer/Footer.tsx
  frontend/src/components/Form/ImageUpload/ImageUpload.tsx
  frontend/src/components/Form/ImageUpload/imageUpload.cy.tsx
  frontend/src/components/Header/SearchHeader.tsx
  frontend/src/components/Item/CreateEdit.tsx
  frontend/src/components/Navbar/Navbar.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/account/login.tsx
  frontend/src/pages/account/profile.tsx
  frontend/src/pages/account/register.tsx
  frontend/src/pages/contribute/edit/[slug].tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/tags/index.tsx
  frontend/src/pages/weights/[slug].tsx
  frontend/src/pages/weights/index.tsx
  frontend/src/services/utils/errorHandling.ts
Labels: frontend

#435 Add AUTH_SERVER to handle stats
  .github/workflows/frontend-ci.yml
  docker-compose.yaml
  frontend/.env.example
  frontend/Dockerfile
  frontend/cypress.config.ts
  frontend/cypress/e2e/account/login.cy.ts
  frontend/cypress/e2e/account/register.cy.ts
  frontend/cypress/e2e/profile/error.cy.ts
  frontend/cypress/support/commands.ts
  frontend/env.d.ts
  frontend/src/pages/account/profile.tsx
  frontend/src/pages/index.tsx
  frontend/src/services/auth/login.ts
  frontend/src/services/auth/register.ts
  frontend/src/services/auth/session.ts
  frontend/src/services/axios/axios.ts
  sample.env
Labels: bug, frontend

#438 Bug/437 fix all wrong env urls
  .github/workflows/frontend-ci.yml
  docker-compose.yaml
  frontend/.env.example
  frontend/Dockerfile
  frontend/cypress.config.ts
  frontend/cypress/support/commands.ts
  frontend/env.d.ts
  frontend/src/components/Form/ImageUpload/ImageUpload.tsx
  frontend/src/pages/contribute/edit/[slug].tsx
  frontend/src/services/axios/axios.ts
  frontend/src/services/item/image.ts
  frontend/src/services/utils/getImageUrl.ts
  frontend/src/services/utils/getImageUrl.unit.ts
  sample.env
Labels: bug, frontend
