Repository world-wide-weights/wwweights, pull requests merged in 2023-01, with the labels that each got.

#112 Feature/90 partial auth module
  .github/workflows/auth-ci.yml
  auth/.eslintrc.js
  auth/.gitignore
  auth/.prettierrc
  auth/Dockerfile
  auth/README.md
  auth/nest-cli.json
  auth/package-lock.json
  auth/package.json
  auth/sample.env
  auth/src/app.controller.spec.ts
  auth/src/app.controller.ts
  auth/src/app.module.ts
  auth/src/app.service.ts
  auth/src/auth/auth.REST
  auth/src/auth/auth.controller.ts
  auth/src/auth/auth.module.ts
  auth/src/auth/auth.service.ts
  auth/src/auth/dtos/login.dto.ts
  auth/src/auth/dtos/refresh-jwt-payload.dto.ts
  auth/src/auth/dtos/signup.dto.ts
  auth/src/auth/guards/refresh-token.guard.ts
  auth/src/auth/interfaces/request-with-refresh-payload.interface.ts
  auth/src/auth/responses/token.response.ts
  auth/src/auth/strategies/refresh-token.strategy.ts
  auth/src/db/db.module.ts
  auth/src/db/db.service.ts
  auth/src/db/entities/users.entity.ts
  auth/src/main.ts
  auth/src/shared/dtos/jwt-payload.dto.ts
  auth/src/shared/enums/errors.enum.ts
  auth/src/shared/enums/roles.enum.ts
  auth/src/shared/enums/status.enum.ts
  auth/src/shared/guards/jwt.guard.ts
  auth/src/shared/interfaces/request-with-user.dto.ts
  auth/src/shared/shared.module.ts
  auth/src/shared/strategies/jwt.strategy.ts
  auth/test/__mocks__/nodemailer.ts
  auth/test/app.e2e-spec.ts
  auth/test/auth.e2e-spec.ts
  auth/test/helpers/db.helper.ts
  auth/test/helpers/general.helper.ts
  auth/test/helpers/sample-data.helper.ts
  auth/test/helpers/typeOrmSetup.ts
  auth/test/jest-e2e.json
  auth/tsconfig.build.json
  auth/tsconfig.json
  db/migrations/1670610831-init/DOWN.sql
  db/migrations/1670610831-init/UP.sql
  db/migrations/1670610831-init/changelog.md
  db/sample.env
  db/setup/init.sql
  sample.env
Labels: backend

#162 Feature/80 iconbutton component test
  frontend/src/components/Button/IconButton.tsx
  frontend/src/components/Button/iconButton.cy.tsx
  frontend/src/pages/weights/index.tsx
Labels: frontend

#185 Feature/115 weight unit algorithm g kg t
  frontend/package-lock.json
  frontend/package.json
  frontend/src/services/unitconverter/unitConverter.ts
  frontend/src/services/unitconverter/unitConverter.unit.ts
  frontend/src/types/unit.d.ts
Labels: frontend

#178 Feature/37 tags endpoints
  auth/src/app.module.ts
  backend/package.json
  backend/src/commands.module/commands.module.ts
  backend/src/commands.module/commands/insert-item.handler.ts
  backend/src/commands.module/events/index.ts
  backend/src/commands.module/events/item-inserted.handler.ts
  backend/src/commands.module/interfaces/insert-item.dto.ts
  backend/src/commands.module/interfaces/suggest-item-update.dto.ts
  backend/src/commands.module/interfaces/update-item.dto.ts
  backend/src/eventstore/eventstore.ts
  backend/src/models/item-by-tag.model.ts
  backend/src/models/item.model.ts
  backend/src/models/items-by-tag.model.ts
  backend/src/models/tag.model.ts
  backend/src/queries.module/interfaces/query-item-list.dto.ts
  backend/src/queries.module/queries/get-item-list.handler.ts
  backend/src/shared/get-slug.ts
  backend/src/shared/get-stringified.ts
  backend/test/commands.e2e-spec.ts
  backend/test/helpers/MongoMemoryHelpers.ts
  backend/test/helpers/retries.ts
  backend/test/helpers/timeout.ts
  backend/test/mocks/items.ts
  backend/test/queries.e2e-spec.ts
Labels: enhancement, backend

#198 Add hotfix bug with delayed next routers server-centric routing
  frontend/cypress/e2e/weights/sort.cy.ts
Labels: bug, frontend

#234 Feature/217 query for itemsstatistics
  backend/query/src/items/interfaces/counted-items.ts
  backend/query/src/items/interfaces/item-statistics.ts
  backend/query/src/items/interfaces/paginated-items.ts
  backend/query/src/items/interfaces/query-item-statistics.dto.ts
  backend/query/src/items/items.controller.ts
  backend/query/src/items/queries/index.ts
  backend/query/src/items/queries/item-list.handler.ts
  backend/query/src/items/queries/item-statistics.handler.ts
  backend/query/src/items/queries/item-statistics.query.ts
  backend/query/src/items/queries/related-items.handler.ts
  backend/query/test/items.e2e-spec.ts
Labels: backend

#191 Feature/182 weight algorithm for perfect display of weight
  frontend/src/services/unit/unitConverter.ts
  frontend/src/services/unit/unitConverter.unit.ts
  frontend/src/services/unit/unitHumanReadable.ts
  frontend/src/services/unit/unitHumanReadable.unit.ts
  frontend/src/services/unit/unitRenderer.ts
  frontend/src/services/unit/unitRenderer.unit.ts
  frontend/src/services/unitconverter/unitConverter.ts
  frontend/src/services/unitconverter/unitConverter.unit.ts
  frontend/src/types/unit.d.ts
Labels: frontend

#213 Feature/183 chip tests
  frontend/src/components/Chip/chip.cy.tsx
Labels: frontend
